@page "/about"

 <Animate Animation="Animations.FlipLeft" Duration="TimeSpan.FromSeconds(0.3)" Delay="TimeSpan.FromSeconds(1)">
        <center>
         <h3> Public About</h3>
         <h3> Public About</h3>
         <h3> Public About</h3>
         <h3> Public About</h3>
         <h3> Public About</h3>
        </center>
      
  
    </Animate>
@code {

}
