@page "/home" 

 <Animate Animation="Animations.FadeIn" Duration="TimeSpan.FromSeconds(0.3)" Delay="TimeSpan.FromSeconds(1)">
        <center>
<h3>Public Home Page</h3>
<h3>Public Home Page</h3>
<h3>Public Home Page</h3>
<h3>Public Home Page</h3>
<h3>Public Home Page</h3>
<h3>Public Home Page</h3>
        </center>
    </Animate>


@code {

}
