@page "/admin" 

  <h3>Admin Page</h3>


    <Animate Animation="Animations.ZoomIn" Duration="TimeSpan.FromSeconds(0.3)" Delay="TimeSpan.FromSeconds(1)">
        <center>
              <h3>Admin Page</h3>
        <h3>Admin Page</h3>
        <h3>Admin Page</h3>
        <h3>Admin Page</h3>
        <h3>Admin Page</h3>
        <h3>Admin Page</h3>
        <h3>Admin Page</h3>
        <h3>Admin Page</h3>
        <h3>Admin Page</h3>
        <h3>Admin Page</h3>
        <h3>Admin Page</h3>
        </center>
      
  
    </Animate>



@code {

}
