@page "/admin2" 

 <Animate Animation="Animations.ZoomInUp" Duration="TimeSpan.FromSeconds(0.3)" Delay="TimeSpan.FromSeconds(1)">
        <center>
          <h3>Admin Page 2</h3>
          <h3>Admin Page 2</h3>
          <h3>Admin Page 2</h3>
          <h3>Admin Page 2</h3>
          <h3>Admin Page 2</h3>
          <h3>Admin Page 2</h3>
        </center>
      
  
    </Animate>


@code {

}
